@font-face
{
font-family: はれのそら明朝;
src: url('https://cdn.leafscape.be/Harenosora/harenosora_web.woff2')
     format("woff2");
}

.sub-title {
    font-family: 'M PLUS 1p', sans-serif; 
    color: rgb(252, 245, 245);
}
.card-aria {
    background-color: #6c757d21;
    font-size: 20px;
    font-family: はれのそら明朝;
}
.movie-title {
    font-family: はれのそら明朝;
}

.course_picture {
    position: relative;
    width: 290px;
    height: auto;
    img {
        width: 290px;
        height: auto;
    }
    .course_title {
        position: absolute;
        color: black;/*文字は白に*/
        font-weight: bold; /*太字に*/
        font-size: 2.5em;/*サイズ2倍*/
        font-family :Quicksand, sans-serif;/*Google Font*/
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
    }
    .card_button {
        position: absolute;
        right: 5px;
        bottom: 5px;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 20px;        
        color: #fff;
        border-style: none;
        box-shadow: 2px 2px 3px 1px #666;
        -moz-box-shadow: 2px 2px 3px 1px #666;
        -webkit-box-shadow: 2px 2px 3px 1px #666;
    
        text-shadow: 1px 1px 2px #000;
    
        background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
        background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));
    
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
}
    .card_button:hover {
        /* 透明度を20%に指定 */
        opacity: 0.8;
    }

    .course {
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        color: #6091d3;/*文字色*/
        background: #FFF;
        border: solid 3px #6091d3;/*線*/
        border-radius: 10px;/*角の丸み*/
    }
    

ul {
    list-style: none;
  }